.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.logo {
  height: 30px;
  width: 30px;
}
.title {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.text-title {
  font-size: 17px;
  font-weight: bold;
}

.select-option {
  text-align: left;
  color: #000000;
}

.react-select-container {
  font-size: 12px;
}
.container {
  width: 90%;
}
.error-message {
  color: red;
}

button {
  cursor: pointer;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: white;
}
.date-picker {
  margin-top: 7px;
  margin-bottom: 10px;
}
.select-option {
  margin-top: 7px;

}
.App-link {
  color: #61dafb;
}

.go-to-sra {
  margin-top: 20px;
}

.log-button{
  margin-top: 1rem;
  height: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
